<div class="wrapper">
    <div class="confetti-{{i}}" *ngFor="let i of confetti_numbers"></div>
    <div class="row justify-content-md-center" style="margin-top: 100px;">
        <div class="col">
          <h1 class="text-center">Welcome to
            <span class="color-event-primary">pickanumber</span>
            <span class="color-event-secondary">.com</span> !</h1>
        </div>
      </div>
      <div class="row">
        <div class="col"><app-layout (wonTheGame)="wonTheGame()"></app-layout></div>
      </div>
  </div>