<div class="row justify-content-center">
    <div class="col-4">
        <div class="row">
            <span class="badge badge-success event-btn-primary">
                <div class="row">
                    <div class="col text-center">
                        <span>{{pickANumber.currentNumber}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group float-right" role="group">
                        <button type="button" class="btn btn-primary event-btn-secondary" (click)="isLower()" [disabled]="pickANumber.finished">Smaller</button>
                        <button type="button" class="btn btn-primary event-btn-secondary" (click)="isCorrect()" [disabled]="pickANumber.finished">YES!</button>
                        <button type="button" class="btn btn-primary event-btn-secondary" (click)="isHigher()" [disabled]="pickANumber.finished">Bigger</button>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
<div class="row row justify-content-between align-items-end">
    <div class="col-5">
        Number of attempts:
        <span>{{pickANumber.attempts}}</span>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-light event-btn-secondary" (click)="restartGame()">
            <i class="material-icons">autorenew</i>
        </button>
    </div>
</div>