<div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="row">
                <span class="badge badge-success">
                    <span>{{pickANumber.currentNumber}}</span>
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" (click)="isLower()" [disabled]="pickANumber.finished">Smaller</button>
                        <button type="button" class="btn btn-primary" (click)="isCorrect()" [disabled]="pickANumber.finished">YES!</button>
                        <button type="button" class="btn btn-primary" (click)="isHigher()" [disabled]="pickANumber.finished">Bigger</button>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row row justify-content-end align-items-end">
        <div class="col-5 attemps-legend">
            Number of attempts:
            <span>{{pickANumber.attempts}}</span>
        </div>
    </div>
</div>